  <%= partial 'partials/navbar' %>
<div class="container ">
  <%= partial 'partials/banner' %>
  <section>
    <h1 class="title">yooooooo suuuuuup</h1>
  </section>
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
  <!-- Social Links Section -->
  <%= partial 'partials/social' %>
</div>
