<%= partial 'partials/navbar' %>

<div class="container">
  <section id="banner">
    <%= partial 'partials/banner' %>
  </section>

  <section id="about">
    <%= partial 'partials/about' %>
  </section>

  <section id="projects">
    <%= partial 'partials/projects' %>
  </section>

  <section id="contact">
    <%= partial 'partials/contact' %>
  </section>
</div>
